body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: auto; 
  background-color:white; 
}
* { 
  box-sizing: border-box; 
}
p {
  color:navy; 
}
header li { 
  list-style: none; 
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:inline;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
